main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--color-bg);
    color: var(--color-text-primary);
    padding-bottom: 0.5rem;
    gap: 0.5rem;

    .wallpaper {
        display: flex;
        align-items: center;
        width: 100%;
        max-width: 1200px;
        border-radius: 0 0 0.5rem 0.5rem;
        gap: 0.5rem;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        position: relative;

        .thumbnail {
            flex: 1;
            display: flex;
            flex-direction: row-reverse;
            padding-inline-start: 0.5rem;
            padding-block-start: 5rem;
            padding-block-end: 1rem;

            img {
                width: 80%;
                max-width: 200px;
                max-height: 360px;
                border-radius: 0.25rem;
            }
        }

        .detail {
            flex: 2;
            display: flex;
            align-self: flex-end;
            flex-direction: column;
            align-items: flex-start;
            justify-content: center;
            padding: 1rem;
            gap: 1rem;

            button {
                font-size: 1rem;
                font-weight: bold;
                width: 6rem;
                padding: 0.5rem;
                border: none;
                border-radius: 0.25rem;
                background-color: var(--color-accent);
                color: var(--color-text-primary);

                &:hover {
                    cursor: pointer;
                    background-color: var(--color-accent-hover);
                }
            }
        }
    }

    .container {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        height: 100%;
        width: 100%;
        max-width: 1200px;
        background-color: var(--color-bg);
        gap: 0.5rem;
        color: var(--color-text-primary);

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            max-width: 1200px;
            padding: 0.5rem;
            border-radius: 0.5rem;
            background-color: var(--color-surface);

            /* --- Style for a row of rating stars --- */
            .star-rating {
                display: flex;
                /* Arrange stars in a row */
                gap: 5px;
                /* Space between stars */
            }

            .rating-star {
                background: none;
                border: none;
                padding: 5px;
                transition: transform 0.1s ease;

                &:hover {
                    cursor: pointer;
                    transform: scale(1.1);
                }
            }


            .rating-star .star-icon {
                width: 25px;
                height: 25px;
                fill: #999;
                /* Default grey for un-filled stars */
                stroke: none;
                stroke-width: 5;
            }

            /* Style for filled stars */
            .rating-star.filled .star-icon {
                fill: var(--color-accent-contrast);
                stroke: none;
            }

            .comment {
                display: flex;
                align-items: start;
                justify-content: space-between;
                width: 90%;
                padding: 0.25rem;
                gap: 0.5rem;
                resize: none;

                .comment-content {
                    flex: 1;
                    border-radius: 0.25rem;
                    font-size: 1rem;
                    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                    padding: 0.25rem;
                    resize: none;
                }

                button {
                    font-size: 1rem;
                    font-weight: bold;
                    width: 4rem;
                    padding: 0.3rem;
                    border: none;
                    border-radius: 0.25rem;
                    background-color:dodgerblue;
                    color: var(--color-text-primary);
                    

                    &:hover {
                        cursor: pointer;
                        background-color: darkslateblue;
                    }
                }
            }
        }
    }
}