<app-header></app-header>
<main>
    <div class="wallpaper"
        style="background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url('{{movie().backgroundUrl}}');">
        <div class="thumbnail">
            <img [src]="movie().posterUrl" alt="">
        </div>
        <div class="detail">
            <h2>{{movie().title}}</h2>
            <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque asperiores veritatis repellat aspernatur
                at? Consequatur, ex quis blanditiis odio magni magnam, tenetur accusantium vero excepturi rem est labore
                porro sint!</p>
            <button [routerLink]="['/watchMovie', movie().id]">Watch</button>
        </div>

    </div>
    <div class="container">
        <div class="content" style="flex: 2;">
            <div class="star-rating">
                @for (item of [].constructor(5).keys(); track item) {
                <button id="rate-{{item}}" class="rating-star filled">
                    <svg class="star-icon" viewBox="0 0 100 100">
                        <path
                            d="M 50,0 L 61.8,35.3 L 97.6,35.3 L 69.1,57.7 L 79.4,92.7 L 50,70.7 L 20.6,92.7 L 30.9,57.7 L 2.4,35.3 L 38.2,35.3 Z" />
                    </svg>
                </button>
                }
            </div>
            <div class="comment">
                <textarea class="comment-content" placeholder="Comment here..."
                    oninput="this.style.height = 'auto'; this.style.height = (this.scrollHeight + 2) + 'px';"></textarea>
                <button>Send</button>
            </div>

        </div>
        <div class="content" style="flex: 1; align-items: flex-start; gap: 0.2rem">
            <h2>Related movies</h2>
            <hr style="border-top: 1px solid #ddd; width: 90%;" />
            @for (related of relatedMovies(); track $index) {
                <p class="related" (click)="gotoOther(related.id)">{{related.title}}</p>
            }
        </div>
    </div>
</main>