<main>
    <div class="container">
        <div class="content">
            <button (click)="prev()" [disabled]="startIndex === 0">&lt;</button>
            <div id="trending" class="grid">
                @for (item of visibleItems; track $index) {
                <app-movie-item [movie]="item"></app-movie-item>
                }
            </div>
            <button (click)="next()" [disabled]="startIndex + visibleCount >= movieItemList.length">&gt;</button>
        </div>
    </div>
</main>